
<div class="product-template__container "
id="ProductSection-{{ section.id }}"
data-section-id="{{ section.id }}"
data-section-type="product"
data-enable-history-state="true"
data-ajax-enabled="{{ settings.enable_ajax }}"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.media_size %}
    {% when 'small' %}
      {%- assign product_media_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_media_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_media_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_media_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_image_zoom = false -%}
  {% endcase %}

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="image-description-c page-width">
      <div class="description-c">
        <div class="product-single__meta">
          <div class="pr-shed">
            <h1 class="product-single__title">{{ product.title }}</h1>
            <div class="product__price mobile-hide">
             <span class="short-text">Je hebt al een abonnement vanaf <strong>4.99</strong> per maand</span>
            </div>
          </div>
          <div class="product__price mobile-show">
            <span class="short-text">Je hebt al een abonnement vanaf <strong>4.99</strong> per maand</span>
          </div>
          <div class="rv-sh">
            <span> <div data-oke-reviews-product-listing-rating>{{ product.metafields.okendo.ProductListingSnippet }}</div></span><a href="#xt-ew">schrijf een beoordeling</a>
          </div>
          <div class="product-single__description rte" itemprop="description">
            {{ product.description }}
          </div>
          <div class="singl-form">
            {% capture "form_classes" -%}
              product-form product-form-{{ section.id }}
              {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
              {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
              {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
            {%- endcapture %}

            {% form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            <div class="new-recharge-c">
              <!-- Begin ReCharge code -->
              {% if product.available %}{% render 'subscription-product' with product as product %}{% endif %}
              <!-- End ReCharge code -->
            </div>  

              <div class="mak-tl">maak je keuze</div>
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper type--{{option.name | handleize | replace: '?', '' }} sh-{{ product.id }} js product-form__item">
                    <div class="noter-row">
                      <div class="colx-rre">
                        <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                          {{ option.name }}
                        </label>
                      </div>  
                    
                      <div class="varia-notr">
                        {% for value in option.values %}
                          {% for variant in product.varia-notrnts %}
                            {%- assign display = "block" -%}
                            {% if variant.image and variant.title contains value%}
                              {%- assign img = variant.image | img_url: "large" -%}
                              {%- assign display = "none" -%}
                            {% endif %}
                          {% endfor %}
                          {% assign product_title = product.title | handleize %}
                          {% if forloop.first == true %}
                            <div class="option-item {{product.title}}">{% unless product_title contains "gift" %}<span>{{ value }}</span>{% endunless %}<span  onclick="colorSwatchHandler('{{value}}');" style="background-color:{{value}}; display:inline-block;background-position:center;" class="color-swatch {{value}} active" title="{{value}}">{{value}}</span></div>
                          {% else %}  
                            <div class="option-item">{% unless product_title contains "gift" %}<span>{{ value }}</span>{% endunless %}<span  onclick="colorSwatchHandler('{{value}}');" style="background-color:{{value}}; display:inline-block;background-position:center;" class="color-swatch {{value}}" title="{{value}}">{{value}}</span></div> 
                          {% endif %}
                        {% endfor %}
                  
                        <div class="none-clk">
                          <select style="display:{{display}}" class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                          {% for value in option.values %}
                            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                          {% endfor %}
                          </select>
                        </div>  
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endunless %}
              <script>
                function colorSwatchHandler(color) {
                  var colorOptionElm = document.querySelector('select option[value="' + color + '"]'),
                      change = new Event('change', {bubbles: true, cancelable: false});
                      colorOptionElm.selected = "selected";
                      colorOptionElm.parentElement.dispatchEvent(change);
                }
              </script>
              <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                <option data-attr="{{ variant.price }}" value="{{ variant.id }}"
                    {%- if variant == current_variant %} selected="selected" {%- endif -%}
                  >
                    {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                  </option>
                {% endfor %}
              </select>
              {% assign pg_title = page_title | handleize %}
              {% if section.settings.show_quantity_selector %}
                <!--[quantity]--> 
                  <div class="qtydiv">
                    <div class="quantity-selector lts">
                      <span>aantal kinderen?</span>
                      <div class="oper-kid for-one-time">
                        <p class="shot-text">Bij 2 kinderen 20% korting.</p>
                        <p class="shot-text">Bij 3 kinderen 30% korting.</p>
                      </div>
                      <div class="oper-kid for-recharge">
                        <p class="shot-text">1e kind gratis, ieder extra kind 2,95 per maand</p>
                      </div>
                    </div>
                    <input type="hidden" id="starter_kit_qty" name="quantity" value="1" readonly="">
                    <div class="qtybox">
                      <span class="btnqty qtyminus icon icon-minus">-</span>
                      
                      <input type="text" id="quantity-1" value="1" min="1" class="quantity-selector quantity-input" readonly="">
            
                      <span class="btnqty qtyplus icon icon-plus">+</span>
                    </div>
                  </div>
                <!--[/quantity]--> 
                <div class="product-customizer-options">
                  <div class="product-customizer-option option-type-radio">
                    <div class="title_description-c">
                      <label for="4853469216865_option_1">abonneer &amp; bespaar %:</label>
                      <div class="product-customizer-option-description">Bij betaling van 3,6 of 12 maanden krijg je korting!<br>Maandelijkse kosten zijn dan:<br>3 maanden: 5,99 | 6 maanden: 5,49 | 12 maanden: 4,99</div>
                    </div>
                    <div class="option-c">
                      
                      <ul class="radio-option-selector-recharge">
                        {% for option in product.options_with_values %}
                          {% if forloop.index == 3 %}
                            {% assign discount_percentage = '' %}
                            {% for value in option.values %}
                              {% if forloop.index == 1 %} 
                                {% assign discount_percentage = "-22" %}
                              {%  elsif forloop.index == 2 %}
                                {% assign discount_percentage = "-33" %}
                              {% elsif forloop.index == 3 %}
                                {% assign discount_percentage = "-39" %}
                              {% else %}
                                {% assign discount_percentage = "-45" %}
                              {% endif %}
                              {% unless value == "eenmalig" or forloop.index == 1 %}
                                <li>
                                  <input type="radio" id="1_{{ forloop.index }}" name="month" value="{{ value | split: ' ' | first }}m">
                                  <label data-value="{{ value }}" data-num="{{ value | split: ' ' | first }}" class="month-swatch {% if forloop.index == 2 %} is-active  {% endif %} selected-radio-new-recharge" for="1_{{ forloop.index }}">{{ value | split: ' ' | first }}m</label>
                                  <span class="under-discount-{{discount_percentage}}">{{discount_percentage}}%</span>
                                </li>
                              {% endunless %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                    
                </div>

                <input id="bundle_option_context" type="hidden" value="1x Fairytabs bewaarpot,  1x Bamboe kindertandenborstel, 1x Fairytabs voor 1 maand, 1x Fairytabs siliconen drinkbeker" name="properties[Bij de levering zit]"/>

              {% endif %}
              <div class="go-to-one-time">
                <label class="short-title">LOS STARTERSKIT + ÉÉN MAAND NAVULLING</label>
                <a class="btn go-to-btn" href="/products/fairytabs-starter-kit-one-time" aria-describedby="a11y-external-message"></a>
              </div>
              <div class="totel-prc">
                <div class="tol-ct">TOTAAL:</div>
                <div class="tol-prc"> {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}</div>
              </div>

              <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                data-error-message-wrapper
                role="alert">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
              </div>

              <div class="product-form__controls-group product-form__controls-group--submit">
                <div class="product-form__item product-form__item--submit
                  {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                  {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}">
                  <button type="submit" name="add" onclick="atcPin()"
                    {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                    aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                    class="btn addtocart product-form__cart-submit-recharge{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
                    {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                    data-add-to-cart>
                    <span data-add-to-cart-text>
                      {% unless current_variant.available %}
                        {{ 'products.product.sold_out' | t }}
                      {% else %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% endunless %}
                    </span>
                    <span class="hide" data-loader>
                      {% include 'icon-spinner' %}
                    </span>
                  </button>
                </div>
              </div>
            {% endform %}
          </div>
          </div>
          {% if section.blocks.size > 0 %}
            <div class="page-width bundle_wrap">
              {% render 'bundle_container'%}
            </div>
          {% endif %}
          <div class="wht-app for-desktop">
            <span><img src="{{ "icon_info.png" | asset_img_url: 'master' }}" alt="#"></span>
            <div class="mark-whp">
              <h3>Wil je meer informatie over dit product of over een abonnement?</h3>
              <span class="stel"> Stel je vraag aan onze experts via <a href="https://wa.me/31235318538" target="_blank">Whatsapp</a> of <a href="http://m.me/fairytabs/" target="_blank">Messenger</a>
              </span>
            </div>
          </div>
        </div>

        <p class="visually-hidden" data-product-status aria-live="polite" role="status"></p>

        <p class="visually-hidden" data-loader-status aria-live="assertive" role="alert" aria-hidden="true">{{ 'products.product.loader_label' | t }}</p>
      </div>
      <div class="product-main-image-wrap lazylo-colam">
        {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
        {%- assign preview_image = product.featured_media.preview_image -%}
        {%- assign img_url = preview_image | img_url: '3x3' | replace: '_3x3.', '_{width}x.' -%}
        {% if product.images.size > 1 %}
          {% for image_cell in product.images limit:5 %}
            <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
              <div class="grid-view-item__image-wrapper product-card__image-wrapper js">
                <div class="image-cell">
                  {%- if product.available and product.compare_at_price_min > product.price_min -%}
                    {%- capture discount -%}{{ product.compare_at_price_min | minus:product.price_min | times:100.0 | divided_by:product.compare_at_price_min | round }}%{%- endcapture -%}
                    <div style="position:relative;"><div class="hc-sale-tag"><span>{{ discount }}</span></div></div>
                  {%- endif -%}
                  <img class="grid-view-item__image lazyload"
                    alt="{{ image_cell.alt }}"
                    data-src="{{ image_cell.src | product_img_url: 'master' }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ image_cell.aspect_ratio }}"
                    data-sizes="auto"
                    data-image /> 
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
            <div class="grid-view-item__image-wrapper product-card__image-wrapper js">
              <div class="image-cell">
                {%- if product.available and product.compare_at_price_min > product.price_min -%}
                  {%- capture discount -%}{{ product.compare_at_price_min | minus:product.price_min | times:100.0 | divided_by:product.compare_at_price_min | round }}%{%- endcapture -%}
                  <div style="position:relative;"><div class="hc-sale-tag"><span>{{ discount }}</span></div></div>
                {%- endif -%}
                <img  class="grid-view-item__image lazyload"
                      alt="{{ preview_image.alt }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ preview_image.aspect_ratio }}"
                      data-sizes="auto"
                      data-image />
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="1" id="qty_value_tag"/>
<input type="hidden" value="1" id="months_value_tag"/>
<input type="hidden" value="" id="special_id_value_tag"/>

<div class="wht-app for-mobile">
  <span><img src="{{ "icon_info.png" | asset_img_url: 'master' }}" alt="#"></span>
  <div class="mark-whp">
    <h3>Wil je meer informatie over dit product of over een abonnement?</h3>
    <span class="stel"> Stel je vraag aan onze experts via <a href="https://wa.me/31235318538" target="_blank">Whatsapp</a> of <a href="http://m.me/fairytabs/" target="_blank">Messenger</a>
    </span>
  </div>
</div>
{% unless product == empty %}
<script>
  function atcPin(){
    pintrk('track', 'addtocart', {
    value: '{{ product.price | money_without_currency }}',
    currency: '{{ shop.currency }}',
    order_quantity: 1, 
    line_items: [
      { 
        product_id: {{product.id}}, 
        product_category: '{{collection.title}}' 
      }
    ]
    });
  }
</script>
<script> 
  window.onload = function(){
    $('.product-form-product-template-newrecharge').css('display','block');
    setTimeout(function(){ 
      $('.radio-option-selector-recharge').find('li').each(function(index){
        var clickable_label = $(this).find('.month-swatch');
        console.log(index, clickable_label);
        if(index == 0) {
          clickable_label.click();
        }
      });
    }, 200);
    
    $('#shopify-section-product-template-newrecharge .qtyminus').on("click",function() {
      var $qty = $('#quantity-1');
      var current = parseInt($qty.val());
      var kids_key = "";
      console.log(kids_key);
      if ( current > 1 ) {
          $qty.val(current-1);
          var update_qty = $qty.val();
          if ( update_qty == 1 ) {
            kids_key = update_qty + ' kind';
          }
          else {
            kids_key = update_qty + ' kinderen';
          }
          if( update_qty >= 4 ) {
            $('#stater_kit_num').text('2');
            $('#starter_kit_qty').val(2);
          } 
          else {
            $('#stater_kit_num').text('1');
            $('#starter_kit_qty').val(1);
          }
          $('#qty_value_tag').val(update_qty);
          $('.product-single__title').each(function(){
            $(this).find('.qty-num').text(update_qty);
          });
          $('.type--aantal-kinderen').find('.varia-notr').find('.option-item').each(function(){
            var item_ele = $(this).find('.color-swatch');
            var compare_key = item_ele.attr('title');
            if (compare_key == kids_key ) {
              item_ele.click();
            }
          });
      } else {
      }
    });

    $('#shopify-section-product-template-newrecharge .qtyplus').on("click",function() {
      var $qty = $('#quantity-1');
      var current = parseInt($qty.val());
      var kids_key = "";

      if ( current < 3 ) {
        $qty.val(current+1);
        
        var update_qty = $qty.val();

        console.log(update_qty);
        

        if ( update_qty == 1 ) {
            kids_key = update_qty + ' kind';
        }
        else {
          kids_key = update_qty + ' kinderen';
          
        }
        if( update_qty >= 4 ) {
          $('#stater_kit_num').text('2');
          $('#starter_kit_qty').val(2);
        }
        else {
          $('#stater_kit_num').text('1');
          $('#starter_kit_qty').val(1);
        }
        $('#qty_value_tag').val(update_qty);
        $('.product-single__title').each(function(){
          $(this).find('.qty-num').text(update_qty);
        });
        $('.type--aantal-kinderen').find('.varia-notr').find('.option-item').each(function(){
          var item_ele = $(this).find('.color-swatch');
          var compare_key = item_ele.attr('title');
          if (compare_key == kids_key ) {
            item_ele.click();
          }
        });
      }
      
    });
    $('.month-swatch').click(function(){
      $('.for-one-time').css('display','none');
      $('.for-recharge').css('display','block');
      $('.new-recharge-c .rc_label__autodeliver').click();
      var value = $(this).data('value');
      var num = $(this).data('num');
      $('.rc_select').val(num).change();
      $('#months_value_tag').val(num);
      $('.month_value').each(function(){
        $(this).find('span').text(num);
      });
      $('.radio-option-selector-recharge').find('li').each(function(){
        $(this).find('label').removeClass('is-active');
      });
      var month_key = $(this).data('value');
      $('.type--lengte-abonnement').find('.varia-notr').find('.option-item').each(function(){
          var item_ele = $(this).find('.color-swatch');
          var compare_key = item_ele.attr('title');
          if (compare_key == month_key ) {
            item_ele.click();
          }
      });
      $(this).addClass('is-active');
      $('.go-to-btn').removeClass('active');
    });
  }
  $(".product-form__cart-submit-recharge").click(function(e){
    e.preventDefault();
    var qty = $('#qty_value_tag').val();
    var frequency = $('#months_value_tag').val();
    var special_qty = qty;
    var main_id = $('#ProductSelect-product-template-newrecharge').val();
    var arr = [];
    var bundle_option_text = "1x Fairytabs bewaarpot, " + qty + "x Bamboe kindertandenborstel, " + qty + "x Fairytabs voor 1 maand, " + qty + "x Fairytabs siliconen drinkbeker";
    var total = $('.bundle_container').find('.product-cell').length;
    $('.bundle_container').find('.product-cell').each(function(index){
      console.log(index);
      var v_id = $(this).find('.bundle-form__variants').val();
      var data = {
        "id": v_id,
        "quantity": qty,
        "properties": {
          "shipping_interval_frequency": frequency,
          "shipping_interval_unit_type": "Months"
        }
      }
      if (frequency == 1 && qty < 3) {
        special_qty = qty;
        bundle_option_text = "1x Fairytabs bewaarpot, " + special_qty + "x Fairytabs voor 1 maanden";
        if (index == 1) {
          return true;
        }
        if (index == 0) {
          data = {
            "id": v_id,
            "quantity": special_qty,
            "properties": {
              "shipping_interval_frequency": frequency,
              "shipping_interval_unit_type": "Months"
            }
          }
        }
        
      }
      else if (frequency == 1 && qty == 3) {
        special_qty = 1;
        bundle_option_text = "1x Fairytabs bewaarpot, " + special_qty + "x Fairytabs voor 3 maand";
        if (index == 0) {
          return true;
        }
        if (index == 1) {
          data = {
            "id": v_id,
            "quantity": special_qty,
            "properties": {
              "shipping_interval_frequency": frequency,
              "shipping_interval_unit_type": "Months"
            }
          }
        }
      }
      else if (frequency == 3) {
        special_qty = qty;
        bundle_option_text = "1x Fairytabs bewaarpot, " + special_qty + "x Fairytabs voor 3 maanden";

        if (index == 0) {
          return true;
        }
        if (index == 1) {
          data = {
            "id": v_id,
            "quantity": special_qty,
            "properties": {
              "shipping_interval_frequency": frequency,
              "shipping_interval_unit_type": "Months"
            }
          }
        }
      }
      
      else if (frequency == 6) {
        special_qty = qty*2;
        bundle_option_text = "1x Fairytabs bewaarpot, " + special_qty + "x Fairytabs voor 3 maanden";

        if (index == 0) {
          return true;
        }
        if (index == 1) {
          data = {
            "id": v_id,
            "quantity": special_qty,
            "properties": {
              "shipping_interval_frequency": frequency,
              "shipping_interval_unit_type": "Months"
            }
          }
        }
      }
      else if (frequency == 12) {
        special_qty = qty*4;
        bundle_option_text = "1x Fairytabs bewaarpot, " + special_qty + "x Fairytabs voor 3 maanden";

        if (index == 0) {
          return true;
        }
        if (index == 1) {
          data = {
            "id": v_id,
            "quantity": special_qty,
            "properties": {
              "shipping_interval_frequency": frequency,
              "shipping_interval_unit_type": "Months"
            }
          }
        }
      }
      
      arr.push(data);
    });
    console.log("bundles=", arr);
    $('#bundle_option_context').val(bundle_option_text); 
    addItemToCart( arr );
    
  });
  function addItemToCart_jar( data ) {

    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function(data) { 
        console.log("success_2",data);
      },
      error: function(err){
        console.log(err);
      }
    });
  }
  function addItemToCart( data , data_jar) {

    let target = {
      items: data
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: target,
      dataType: 'json',
      success: function(data) { 
        setTimeout(function(){
          $('.product-form-product-template-newrecharge').submit();
        }, 2000);
      },
      error: function(err){
        console.log(err);
      }
    });
  }

  
</script>
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
<script type="application/json" id="ModelJson-{{ section.id }}">
  {{ product.media | where: 'media_type', 'model' | json }}
</script>
{% endunless %}
 


{% schema %}
{
"name": {
  "da": "Produktsider",
  "de": "Produktseiten",
  "en": "Product pages",
  "es": "Páginas de productos",
  "fi": "Tuotesivut",
  "fr": "Pages de produits",
  "hi": "उत्पाद पेज",
  "it": "Pagine di prodotto",
  "ja": "商品ページ",
  "ko": "제품 페이지",
  "nb": "Produktsider",
  "nl": "Productpagina's",
  "pt-BR": "Páginas de produtos",
  "pt-PT": "Páginas de produtos",
  "sv": "Produktsidor",
  "th": "หน้าสินค้า",
  "zh-CN": "产品页面",
  "zh-TW": "產品頁面"
},
"settings": [
  {
    "type": "checkbox",
    "id": "show_quantity_selector",
    "label": {
      "da": "Vis antalsvælger",
      "de": "Mengenauswahl anzeigen",
      "en": "Show quantity selector",
      "es": "Mostrar selector de cantidad",
      "fi": "Näytä määrän valitsin",
      "fr": "Afficher le sélecteur de quantité",
      "hi": "मात्रा चयनकर्ता दिखाएं",
      "it": "Mostra selettore quantità",
      "ja": "数量セレクターを表示する",
      "ko": "수량 선택기 표시",
      "nb": "Vis mengdevelger",
      "nl": "Hoeveelheidskiezer weergeven",
      "pt-BR": "Exibir seletor de quantidade",
      "pt-PT": "Mostrar um seletor de quantidade",
      "sv": "Visa kvantitetsväljare",
      "th": "แสดงตัวเลือกจำนวน",
      "zh-CN": "显示数量选择器",
      "zh-TW": "顯示數量選擇器"
    },
    "default": false
  },
  {
    "type": "checkbox",
    "id": "show_variant_labels",
    "label": {
      "da": "Vis variantlabels",
      "de": "Varianten-Etiketten anzeigen",
      "en": "Show variant labels",
      "es": "Mostrar etiquetas de variantes",
      "fi": "Näytä vaihtoehtoiset tarrat",
      "fr": "Afficher le nom des variantes",
      "hi": "वेरिएंट लेबल दिखाएं",
      "it": "Mostra etichette varianti",
      "ja": "バリエーションのラベルを表示する",
      "ko": "이형 상품 레이블 표시",
      "nb": "Vis variantetiketter",
      "nl": "Variantlabels weergeven",
      "pt-BR": "Exibir etiquetas de variantes",
      "pt-PT": "Mostrar etiquetas de variantes",
      "sv": "Visa variantetiketter",
      "th": "แสดงป้ายกำกับตัวเลือกสินค้า",
      "zh-CN": "显示多属性标签",
      "zh-TW": "顯示子類選項標籤"
    },
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_vendor",
    "label": {
      "da": "Vis leverandør",
      "de": "Lieferanten anzeigen",
      "en": "Show vendor",
      "es": "Mostrar proveedor",
      "fi": "Näytä myyjä",
      "fr": "Afficher les vendeurs",
      "hi": "विक्रेता दिखाएं",
      "it": "Mostra fornitore",
      "ja": "販売元を表示する",
      "ko": "공급업체 표시",
      "nb": "Vis leverandør",
      "nl": "Leverancier weergeven",
      "pt-BR": "Exibir fornecedor",
      "pt-PT": "Mostrar fornecedor",
      "sv": "Visa säljare",
      "th": "แสดงผู้ขาย",
      "zh-CN": "显示厂商",
      "zh-TW": "顯示廠商"
    },
    "default": false
  },
  {
    "type": "checkbox",
    "id": "enable_payment_button",
    "label": {
      "da": "Vis dynamisk betalingsknap",
      "de": "Dynamischen Checkout Button anzeigen",
      "en": "Show dynamic checkout button",
      "es": "Mostrar botón de pago dinámico",
      "fi": "Näytä dynaaminen kassapainike",
      "fr": "Afficher le bouton de paiement dynamique",
      "hi": "डायनेमिक चेकआउट बटन दिखाएं",
      "it": "Mostra pulsante di check-out dinamico",
      "ja": "動的チェックアウトボタンを表示する",
      "ko": "동적 결제 버튼 표시",
      "nb": "Vis dynamisk knapp for å gå til kassen",
      "nl": "Dynamische betaalknop weergeven",
      "pt-BR": "Exibir botão de checkout dinâmico",
      "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
      "sv": "Visa dynamiska utcheckningsknappar",
      "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
      "zh-CN": "显示动态结账按钮",
      "zh-TW": "顯示動態結帳按鈕"
    },
    "info": {
      "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_share_buttons",
    "label": {
      "da": "Vis knapper til deling på sociale medier",
      "de": "Buttons für Social Media anzeigen",
      "en": "Show social sharing buttons",
      "es": "Mostrar botones para compartir en redes sociales",
      "fi": "Näytä sosiaalisen median jakamispainikkeet",
      "fr": "Affichez les boutons de partage sur les médias sociaux",
      "hi": "सोशल शेयरिंग बटन दिखाएं",
      "it": "Mostra i pulsanti per la condivisione sui social",
      "ja": "ソーシャルメディアでの共有ボタンを表示する",
      "ko": "소셜 공유 버튼 표시",
      "nb": "Vis knapper for deling på sosiale medier",
      "nl": "Knoppen voor sociaal delen weergeven",
      "pt-BR": "Exibir botões de compartilhamento em redes sociais",
      "pt-PT": "Mostrar botões de partilha nas redes sociais",
      "sv": "Visa knappar för delning i sociala medier",
      "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
      "zh-CN": "显示社交分享按钮",
      "zh-TW": "顯示社群分享按鈕"
    },
    "default": true
  },
  {
    "type": "header",
    "content": {
      "da": "Medie",
      "de": "Medien",
      "en": "Media",
      "es": "Elementos multimedia",
      "fi": "Media",
      "fr": "Support multimédia",
      "hi": "मीडिया",
      "it": "Media",
      "ja": "メディア",
      "ko": "미디어",
      "nb": "Medier",
      "nl": "Media",
      "pt-BR": "Mídia",
      "pt-PT": "Multimédia",
      "sv": "Media",
      "th": "สื่อ",
      "zh-CN": "媒体",
      "zh-TW": "媒體"
    },
    "info": {
      "da": "Få mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
      "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
      "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
      "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
      "fi": "Lue lisää [mediatyypeistä](https://help.shopify.com/manual/products/product-media)",
      "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
      "hi": "[मीडिया प्रकार](https://help.shopify.com/manual/products/product-media) के बारे में और जानें",
      "it": "Scopri di più sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
      "ja": "[メディアのタイプ](https://help.shopify.com/manual/products/product-media) について詳しくはこちら",
      "ko": "[미디어 유형](https://help.shopify.com/manual/products/product-media)에 대해 자세히 알아보기",
      "nb": "Lær mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
      "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
      "pt-BR": "Saiba mais sobre [tipos de mídia](https://help.shopify.com/manual/products/product-media)",
      "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
      "sv": "Läs mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
      "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [ประเภทของสื่อ](https://help.shopify.com/manual/products/product-media)",
      "zh-CN": "详细了解[媒体类型](https://help.shopify.com/manual/products/product-media)",
      "zh-TW": "深入瞭解 [媒體類型](https://help.shopify.com/manual/products/product-media)"
    }
  },
  {
    "type": "select",
    "id": "media_size",
    "label": {
      "da": "Størrelse",
      "de": "Größe",
      "en": "Size",
      "es": "Tamaño",
      "fi": "Koko",
      "fr": "Taille",
      "hi": "आकार",
      "it": "Dimensione",
      "ja": "サイズ",
      "ko": "사이즈",
      "nb": "Størrelse",
      "nl": "Grootte",
      "pt-BR": "Tamanho",
      "pt-PT": "Tamanho",
      "sv": "Storlek",
      "th": "ขนาด",
      "zh-CN": "大小",
      "zh-TW": "尺寸"
    },
    "options": [
      {
        "value": "small",
        "label": {
          "da": "Lille",
          "de": "Klein",
          "en": "Small",
          "es": "Pequeño",
          "fi": "Pieni",
          "fr": "Petit",
          "hi": "छोटा",
          "it": "Piccolo",
          "ja": "スモール",
          "ko": "스몰",
          "nb": "Liten",
          "nl": "Klein",
          "pt-BR": "Pequeno",
          "pt-PT": "Pequeno",
          "sv": "Liten",
          "th": "เล็ก",
          "zh-CN": "小",
          "zh-TW": "小型"
        }
      },
      {
        "value": "medium",
        "label": {
          "da": "Medium",
          "de": "Mittel",
          "en": "Medium",
          "es": "Mediano",
          "fi": "Keskisuuri",
          "fr": "Moyenne",
          "hi": "मध्यम",
          "it": "Medio",
          "ja": "中",
          "ko": "보통",
          "nb": "Middels",
          "nl": "Gemiddeld",
          "pt-BR": "Médio",
          "pt-PT": "Médio",
          "sv": "Medium",
          "th": "ปานกลาง",
          "zh-CN": "中等",
          "zh-TW": "中等"
        }
      },
      {
        "value": "large",
        "label": {
          "da": "Stor",
          "de": "Groß",
          "en": "Large",
          "es": "Grande",
          "fi": "Suuri",
          "fr": "Grande",
          "hi": "बड़ा",
          "it": "Grande",
          "ja": "大",
          "ko": "라지",
          "nb": "Stor",
          "nl": "Groot",
          "pt-BR": "Grande",
          "pt-PT": "Grande",
          "sv": "Stor",
          "th": "ใหญ่",
          "zh-CN": "大",
          "zh-TW": "大型"
        }
      },
      {
        "value": "full",
        "label": {
          "da": "Fuld bredde",
          "de": "Volle Breite",
          "en": "Full-width",
          "es": "Ancho completo",
          "fi": "Täysi leveys",
          "fr": "Pleine largeur",
          "hi": "पूर्ण चौड़ाई",
          "it": "Intera larghezza",
          "ja": "全幅",
          "ko": "전체 폭",
          "nb": "Full bredde",
          "nl": "Volledige breedte",
          "pt-BR": "Largura completa",
          "pt-PT": "Largura completa",
          "sv": "Full bredd",
          "th": "เต็มความกว้าง",
          "zh-CN": "全宽",
          "zh-TW": "完整寬度"
        }
      }
    ],
    "default": "medium"
  },
  {
    "type": "checkbox",
    "id": "enable_image_zoom",
    "label": {
      "da": "Aktivér billedzoom",
      "de": "Foto-Zoom zulassen",
      "en": "Enable image zoom",
      "es": "Habilitar zoom de imagen",
      "fi": "Ota kuvan zoomaus käyttöön",
      "fr": "Activer le zoom d'image",
      "hi": "इमेज ज़ूम सक्षम करें",
      "it": "Abilita lo zoom dell'immagine",
      "ja": "画像ズームを有効にする",
      "ko": "이미지 확대 사용",
      "nb": "Aktiver bildezoom",
      "nl": "Inzoomen op afbeelding inschakelen",
      "pt-BR": "Habilitar o zoom da imagem",
      "pt-PT": "Ativar o zoom da imagem",
      "sv": "Aktivera bildzoom",
      "th": "เปิดใช้การซูมภาพ",
      "zh-CN": "启用图片缩放",
      "zh-TW": "啟用圖片縮放"
    },
    "default": true
  },
  {
    "type": "checkbox",
    "id": "enable_video_looping",
    "label": {
      "da": "Aktivér looping af videoer",
      "de": "Videschleife aktivieren",
      "en": "Enable video looping",
      "es": "Habilitar la reproducción de video en bucle",
      "fi": "Ota käyttöön videosilmukka",
      "fr": "Activer le bouclage de la vidéo",
      "hi": "वीडियो लूपिंग सक्षम करें",
      "it": "Abilita la riproduzione in loop dei video",
      "ja": "ビデオのループを有効にする",
      "ko": "동영상 루프",
      "nb": "Aktiver løkkeavspilling av video",
      "nl": "Video-looping inschakelen",
      "pt-BR": "Habilitar loop de vídeo",
      "pt-PT": "Ativar ciclo de vídeo",
      "sv": "Aktivera video-loopning",
      "th": "เปิดใช้งานการวนซ้ำวิดีโอ",
      "zh-CN": "启用视频循环",
      "zh-TW": "啟用影片循環功能"
    },
    "default": false
  }
],
"blocks": [
  {
    "type": "product",
    "name": "Product",
    "settings": [
      {
        "type": "product",
        "id": "bundle_product",
        "label": "Product"
      }
    ]
  }
]
}
{% endschema %}
